# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Anul4_CTI_RO\Anul4_Sem1_CTI-RO\CTI_VVS_Anul4_Sem1\web-server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
